--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
--index-url https://pypi.org/simple
ipykernel
numpy<2
pandas
matplotlib
scikit-learn
whisper-timestamped
#ctranslate2==3.24.0
hf_transfer
pygame
transformers
open_clip_torch
smolagents
litellm
faiss-cpu